<section data-ng-controller="TodosController" data-ng-init="findOne()">
	<div class="page-header">
		<h4><a href="/#!/todos"><i class="glyphicon glyphicon-chevron-left"></i>View </a><a href="/#!/todos/create" style="float: right">Create &nbsp;<span class="glyphicon glyphicon-plus" ></a></span></h4>
		<div style="float:left;">
			<h1><i ng-class=
	                    "todo.category=='work' ? 'glyphicon glyphicon-file '
	                    : (todo.category=='practical' ? 'glyphicon glyphicon-user'
	                    : (todo.category=='home' ? 'glyphicon glyphicon-home'
	                    : 'glyphicon glyphicon-asterisk'))" style="margin-right: 15px;">
                 	</i>{{todo.name}}</h1>
		</div>
		<div style="float:right; margin-top:15px;">
			<h4 data-ng-bind="todo.created | limitTo: 19" ></h4>
			<h3><li class="glyphicon glyphicon-star" ng-repeat="s in weightrange(todo.weight)" style="color: #FBC02D;"></li></h3>
		</div>
	</div>
	<div style="clear:both;"></div>

		<p ng-bind-html="todo.description" style="color: rgb(100,100,100);"></p>
		<ul ng-repeat="tag in todo.tags" ng-show='todo.tags' style="color:#00796B; display:inline-block; font-size:16px; margin-top:25px;"><i class="glyphicon glyphicon-tags taglist"></i>
                            <li class="tagitem"><a href="" class="taglink" ng-click="tagsearch(tag)">{{tag}}</a>&nbsp;</li>
                        </ul>
	</div>
                <div class="btn-group" role="group" style="float:right; margin-top:40px;">
                    <a class="btn btn-info" href="/#!/todos/{{todo._id}}/edit" style="padding:15px 25px; margin:px;">
                        <i class="glyphicon glyphicon-pencil"></i>
                    </a>
                    <a class="btn btn-danger" data-ng-click="remove();" style="padding:15px 25px;">
                        <i class="glyphicon glyphicon-trash"></i>
                    </a>
                </div>
</section>
